<template name="Submissions">
<div class="row invoice">
    <div class="col-md-12">
        <div class="box">
            <div class="invoice-main">
                <div class="invoice-head">
                    <div class="text-center">
                        <h1><strong>Your Submissions</strong></h1>
                    </div>
                </div>
                {{>submissionList submissions}}
                <div class="invoice-footer">
                    <div class="text-center">
                        <b>Go to the <a href="/shows">shows list</a> to submit a clip.</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</template>
