<template name="Home">
<div class="row invoice">
    <div class="col-md-5 center-block" style="float:none">
        <div class="panel panel-danger panel-drop">
            <div class="panel-heading">
                <h3 class="panel-title">Get Started</h3>
            </div>
            <div class="panel-body">
                {{#markdown}}
**Submissions in this version of the app come from the API only.** If you have access to review episodes you will see the shows listed in the left navigation bar. Select a show to start reviewing.
                {{/markdown}}
            </div>
        </div>
    </div>
</div>
<div class="row invoice">
    <div class="col-md-10 center-block" style="float:none">
        <div class="panel panel-primary panel-drop">
            <div class="panel-heading">
                <h3 class="panel-title">Desktop Token</h3>
            </div>
            <div class="panel-body">
                {{#markdown}}
You can download the client **from the username dropdown at the top right** as well as copy the desktop token.
                {{/markdown}}
            </div>
        </div>
    </div>
</div>
</template>
