<template name="Review">
<div class="row invoice">
  {{#each submissions}}
  <div class="col-md-12">
    <div class="panel panel-danger panel-drop">
      <div class="panel-heading">
        <h3 class="panel-title">Submission #1</h3>
      </div>
      <div class="panel-body">
      </div>
    </div>
  </div>
  {{/each}}
  {{#unless maxSubs}}
  <div class="col-md-6 center-block" style="float:none">
    <div class="panel panel-danger panel-drop">
      <div class="panel-heading">
        <h3 class="panel-title">No Submissions</h3>
      </div>
      <div class="panel-body">
        <p>You don't have any (more) submissions to review.</p>
        <p><button class="btn btn-success btn-lg reqSub">Request Another Submission</button></p>
      </div>
    </div>
  </div>
  {{/unless}}
</div>
</template>
