<template name="Review">
<div class="row">
    {{#each submissions}}
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">expires {{remainingTime}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10 col-sm-7 col-md-7">
                        <h3>Match {{matchid}}</h3>
                        <form class="form-horizontal submission-form">
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-3 col-md-3 control-label">Submitter</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <p class="form-control-static">{{uname}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-3 col-md-3 control-label">Info</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <p class="form-control-static">{{description}}</p>
                                </div>
                            </div>
                            {{#if matchtime}}
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-3 col-md-3 control-label">Time to Watch</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <p class="form-control-static">{{matchtime}}</p>
                                </div>
                            </div>
                            {{/if}}
                            {{#if hero_to_watch}}
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-3 col-md-3 control-label">Hero to Watch</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <p class="form-control-static">{{hero_to_watch}}</p>
                                </div>
                            </div>
                            {{/if}}
                            {{#if show}}
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-3 col-md-3 control-label">Show</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <p class="form-control-static">{{thisShow.name}}</p>
                                </div>
                            </div>
                            {{/if}}
                            <div class="form-group" style="margin-top:10px;margin-bottom:10px">
                                <label class="col-lg-2 col-sm-3 col-md-3 control-label">Description</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <textarea class="form-control reviewDes" max=500></textarea>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top:10px;margin-bottom:10px">
                                <label class="col-lg-2 col-sm-3 col-md-3 control-label">Rating</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <select class="form-control m-bot15 ratingIn ddred" onchange="var p=this.className.split(' ');this.className=p.splice(0,p.length-1).join(' ')+' '+this.options[this.selectedIndex].className">
                                        <option value="1" class="ddred">1 - Can't View</option>
                                        <option value="2" class="ddred">2 - Horrible</option>
                                        <option value="3" class="ddred">3 - Bad</option>
                                        <option value="4" class="ddred">4 - Not Worthy</option>
                                        <option value="5" class="ddyellow">5 - Average</option>
                                        <option value="6" class="ddyellow">6 - Average</option>
                                        <option value="7" class="ddyellow">7 - Pretty Good</option>
                                        <option value="8" class="ddgreen">8 - Amazing</option>
                                        <option value="9" class="ddgreen">9 - Unbelieveable</option>
                                        <option value="10" class="ddblue">10 - Own Video</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <p><button class="btn btn-lg sendRating">Submit Rating</button></p>
                    </div>
                    <div class="col-lg-2 col-sm-4 col-md-5" style="text-align:right">
                        <p><a class="btn btn-default btn-lg" href={{dotaurl}}>Play in DOTA2</a></p>
                        <p><button class="btn btn-lg reqDown">Download Replay</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{#unless maxSubs}}
    <div class="col-md-12">
        <div class="panel panel-danger panel-drop">
            <div class="panel-heading">
                <h3 class="panel-title">More Submissions</h3>
            </div>
            <div class="panel-body">
                <p><button class="btn btn-success btn-lg reqSub">Request Another Submission</button></p>
            </div>
        </div>
    </div>
    {{/unless}}
</div>
</template>
