<template name="Review">
<div class="row">
    {{#each submissions}}
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">expires {{remainingTime}}</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-10 col-sm-9 col-md-9">
                        <h3>Match {{matchid}}</h3>
                        <form class="form-horizontal submission-form">
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 col-md-3 control-label">Title</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <p class="form-control-static">{{name}}</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 col-md-3 control-label">Info</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <p class="form-control-static">{{description}}</p>
                                </div>
                            </div>
                            {{#if matchtime}}
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 col-md-3 control-label">Time to Watch</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <p class="form-control-static">{{matchtime}}</p>
                                </div>
                            </div>
                            {{/if}}
                            {{#if hero_to_watch}}
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 col-md-3 control-label">Hero to Watch</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <p class="form-control-static">{{hero_to_watch}}</p>
                                </div>
                            </div>
                            {{/if}}
                            {{#if show}}
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 col-md-3 control-label">Show</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <p class="form-control-static">{{thisShow.name}}</p>
                                </div>
                            </div>
                            {{/if}}
                            <div class="form-group" style="margin-top:10px;margin-bottom:10px">
                                <label class="col-lg-2 col-sm-2 col-md-3 control-label">Description</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <textarea class="form-control reviewDes" max=500></textarea>
                                </div>
                            </div>
                            <div class="form-group" style="margin-top:10px;margin-bottom:10px">
                                <label class="col-lg-2 col-sm-2 col-md-3 control-label">Rating</label>
                                <div class="col-lg-10 col-sm-9 col-md-9">
                                    <select class="form-control m-bot15 ratingIn">
                                        <option value="1">1 - Can't View</option>
                                        <option value="2">2 - Very Bad</option>
                                        <option value="3">3 - Average</option>
                                        <option value="4">4 - Pretty Good</option>
                                        <option value="5">5 - Amazing</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <p><button class="btn btn-lg sendRating">Submit Rating</button></p>
                    </div>
                    <div class="col-lg-2" style="text-align:right">
                        <p><a class="btn btn-default btn-lg" href={{dotaurl}}>Play in DOTA2</a></p>
                        <p><button class="btn btn-lg reqDown">Download Replay</button></p>
                        <p><button class="btn btn-lg reqDown" disabled="">Play w/ Client</button></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
    {{#unless maxSubs}}
    <div class="col-md-12">
        <div class="panel panel-danger panel-drop">
            <div class="panel-heading">
                <h3 class="panel-title">More Submissions</h3>
            </div>
            <div class="panel-body">
                <p><button class="btn btn-success btn-lg reqSub">Request Another Submission</button></p>
            </div>
        </div>
    </div>
    {{/unless}}
</div>
</template>
