<template name="ShowDetail">
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i> Dashboard</a></li>
    <li><a href="/shows/"><i class="fa fa-youtube-play"></i> Shows</a></li>
    <li class="active"><i class="fa fa-video-camera"></i> {{name}}</li>
</ol>

<!-- start:content -->
<div class="row invoice">
    <div class="col-md-12">
        <div class="box">
            <div class="invoice-main">
                <div class="invoice-head">
                    <div class="text-center">
                        <h1><strong>{{name}}</strong></h1>
                    </div>
                </div>
                {{> submissionList submissions}}
                <div class="invoice-footer">
                    <div class="text-center">
                        <a href="/submit/{{_id}}" class="btn btn-primary"><i class="fa fa-mail-forward"></i> Submit Replay</a>
                        <a href="#" class="btn btn-danger"><i class="fa fa-ban"></i> Retract all Submissions</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="box">
            <div class="footer-invoice">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h4>SUBMISSION REQUIREMENTS</h4>
                        <hr>
                        {{#each requirements}}
                        {{this}}<br>
                        {{/each}}
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h4>EPISODES</h4>
                        <hr>
                        Submissions rollover to next episode<br>
                        Duplicate match ID submissions not allowed<br>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <h4>CURRENT STATUS</h4>
                        <hr>
                        Submissions Status   : <span class="label label-success">Open</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end:content -->
</template>
