<template name="ShowSubmit">
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i> Dashboard</a></li>
    <li><a href="/shows/"><i class="fa fa-youtube-play"></i> Shows</a></li>
    <li><a href="/shows/{{_id}}"><i class="fa fa-video-camera"></i> {{name}}</a></li>
    <li class="active"><i class="fa fa-envelope"></i> Submit Clip</li>
</ol>
<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading">
                Submission to <b>{{name}}</b>
            </header>
            <div class="panel-body">
                <form class="form-horizontal tasi-form">
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Title</label>
                        <div class="col-sm-10">
                            <input disabled={{disabled}} name="name" type="text" class="form-control" placeholder="A short and sweet name for your clip.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Description</label>
                        <div class="col-sm-10">
                            <input disabled={{disabled}} name="description" type="text" class="form-control" placeholder="Concise description of your clip with a time-code for action.">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 col-sm-2 control-label">Match ID</label>
                        <div class="col-sm-10">
                            <input disabled={{disabled}} name="matchid" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-lg-2 col-sm-2 control-label">Show Check</label>
                        <div class="col-lg-10">
                            <p class="form-control-static">Please make sure you are on the right show. You are submitting to <b>{{name}}</b>.</p>
                        </div>
                    </div>
                    <button type="submit"  disabled={{disabled}} class="btn btn-info" name="submitReplay">Submit</button>
                    {{#if disabled}}<b>Submissions are currently closed for {{name}}.</b>{{/if}}
                </form>
            </div>
        </section>
    </div>
</div>
</template>
