<template name="Submissions">
<ol class="breadcrumb">
    <li><a href="/"><i class="fa fa-home"></i> Dashboard</a></li>
    <li><a href="/submissions/"><i class="fa fa-youtube-play"></i> Submissions</a></li>
    <li class="active"><i class="fa fa-video-camera"></i> {{name}}</li>
</ol>

<!-- start:content -->
<div class="row invoice">
    <div class="col-md-12">
        <div class="box">
            <div class="invoice-main">
                <div class="invoice-head">
                    <div class="text-center">
                        <h1><strong>{{name}}</strong></h1>
                    </div>
                </div>
                {{> submissionList submissions}}
                <div class="invoice-footer">
                    <div class="text-center">
                      {{#unless isFull}}
                        {{#if submissionsOpen}}
                        <button class="toggleSubs btn btn-danger">
                            <i class="fa fa-folder"></i> Disable Submissions
                        </button>
                        {{else}}
                        <button class="toggleSubs btn btn-success">
                            <i class="fa fa-folder-open"></i> Enable Submissions
                        </button>
                        {{/if}}
                      {{/unless}}
                        {{#if showFailed}}
                        <button class="toggleFailed btn btn-danger">
                            <i class="fa fa-bullseye"></i> Hide Failed
                        </button>
                        {{else}}
                        <button class="toggleFailed btn btn-success">
                            <i class="fa fa-bullseye"></i> Show Failed
                        </button>
                        {{/if}}
                        <button class="submitMatch btn btn-success" disabled={{submissionsClosed}}>
                            <i class="fa fa-send"></i> Submit a Match
                        </button>
                    </div>
                </div>
            </div>
        </div>

        {{#unless isFull}}
        <div class="box">
            <div class="footer-invoice">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h4>EPISODES</h4>
                        <hr>
                        Submissions rollover to next episode<br>
                        Duplicate match ID submissions not allowed<br>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h4>CURRENT STATUS</h4>
                        <hr>
                        Submissions Status: <span class={{submissionLabel}}>{{submissionStatus}}</span><br/>
                        Total submission count: <span style="font-weight:bold">{{submissionCount}}</span><br/>
                    </div>
                </div>
            </div>
        </div>
        {{/unless}}
    </div>
</div>
<!-- end:content -->
</template>
