<template name="PanelTopNav">
<!-- start:Top Nav -->
<div class="top-navbar">
    <div class="top-navbar-inner">
        <!-- start:Logo Brand -->
        <div class="logo-brand">
            <a href="index.html"><i class="fa fa-fast-backward"></i> {{_ "title"}}</a>
        </div>
        <!-- end:Logo Brand -->

        <div class="top-nav-content">
            <!-- start:Button Sidebar Left Toggle -->
            <div class="btn-collapse-sidebar-left">
                <i class="fa fa-bars icon-dinamic"></i>
            </div>
            <!-- start:Button sidebar left toggle -->

            <!-- start:button sidebar right toggle -->
            <div class="btn-collapse-sidebar-right">
                <i class="fa fa-sliders"></i>
            </div>
            <!-- end:button sidebar right toggle -->

            <!-- start:button nav toggle -->
            <div class="btn-collapse-nav" data-toggle="collapse" data-target="#main-fixed-nav">
                <i class="fa fa-plus icon-plus"></i>
            </div>
            <!-- end:button nav toggle -->

            <!-- start:user session nav -->
            <ul class="nav-user navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{currentUser.services.steam.avatar.full}}" class="avatar img-circle" alt="Avatar">
                        {{currentUser.profile.name}}
                    </a>
                    <ul class="dropdown-menu square primary margin-list-rounded with-triangle">
                        <li><a class="logoutButton">Log out</a></li>
                    </ul>
                </li>
            </ul>
            <!-- end:user session nav -->
        </div>
    </div>
</div>
<!-- end:Top Nav -->
</template>
