<template name="PanelLeftSidebar">
<!-- start:Sidebar Left -->
<div class="sidebar-left sidebar-nicescroller">
    <ul class="sidebar-menu">
        <li class="static">MENU</li>
        <li><a href="index.html"><i class="fa fa-dashboard icon-sidebar"></i>Dashboard</a></li>
        <li>
            <a href="#">
                <i class="fa fa-toggle-on icon-sidebar"></i>
                <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                Layout Colors
            </a>
            <ul class="submenu">
                <li><a href="layout-purple.html">Purple</a></li>
                <li><a href="layout-yellow.html">Yellow</a></li>
                <li><a href="layout-brown.html">Brown</a></li>
                <li><a href="layout-red.html">Red</a></li>
                <li><a href="layout-green.html">Green</a></li>
                <li><a href="layout-disapear.html">Disapear</a></li>
                <li><a href="layout-pysical.html">Pysical</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-line-chart icon-sidebar"></i>
                <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                Charts
            </a>
            <ul class="submenu">
                <li><a href="morris.html">Morris Chart</a></li>
                <li><a href="xchart.html">xChart</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-cogs icon-sidebar"></i>
                <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                Components
            </a>
            <ul class="submenu">
                <li><a href="todo.html">Todo List</a></li>
                <li><a href="dragable.html">Draggable Portlet</a></li>
                <li><a href="nestable.html">Nestable</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-envelope-o icon-sidebar"></i>
                <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                Mail
            </a>
            <ul class="submenu">
                <li><a href="inbox.html">Inbox</a></li>
                <li><a href="inbox-detail.html">Inbox Detail</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-glass icon-sidebar"></i>
                <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                Forms
            </a>
            <ul class="submenu">
                <li><a href="form-component.html">Form Component</a></li>
                <li><a href="advanced-component.html">Advanced Component</a></li>
                <li><a href="form-wizard.html">Form Wizard</a></li>
                <li><a href="form-validation.html">Form Validation</a></li>
                <li><a href="dropzone.html">Dropzone File Upload</a></li>
                <li><a href="multiple-upload.html">Multiple File Upload</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-plug icon-sidebar"></i>
                <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                UI Elements
            </a>
            <ul class="submenu">
                <li><a href="general.html">General</a></li>
                <li><a href="icons.html">Icons</a></li>
                <li><a href="button.html">Button</a></li>
                <li><a href="sliders.html">Sliders</a></li>
                <li><a href="timeline.html">Timeline</a></li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="grid.html">Grid</a></li>
                <li><a href="panelwell.html">Panel and Well</a></li>
                <li><a href="collapse.html">Collapse</a></li>
                <li><a href="listmedia.html">List Media</a></li>
                <li><a href="popupnotif.html">Popup and Notif</a></li>
                <li><a href="jumbotronthumbnails.html">Jumbotron and Thumbnails</a></li>
                <li><a href="breadcrumb.html">Breadcrumb</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-table icon-sidebar"></i>
                <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                Tables
            </a>
            <ul class="submenu">
                <li><a href="basic-table.html">Basic Table</a></li>
                <li><a href="responsive-table.html">Responsive Table</a></li>
                <li><a href="dynamic-table.html">Dynamic Table</a></li>
                <li><a href="editable-table.html">Editable Table</a></li>
            </ul>
        </li>
        <li class="static">MORE</li>
        <li>
            <a href="#">
                <i class="fa fa-envelope icon-sidebar"></i>
                <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                Calendar
            </a>
            <ul class="submenu">
                <li><a href="basic-calendar.html">Basic Calendar</a></li>
                <li><a href="language-calendar.html">Language Calendar</a></li>
                <li><a href="draggin-calendar.html">Dragging Calendar</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-comments-o icon-sidebar"></i>
                <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                Chat Room
            </a>
            <ul class="submenu">
                <li><a href="lobby.html">Lobby</a></li>
                <li><a href="chat-room.html">Chat Room</a></li>
            </ul>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-binoculars icon-sidebar"></i>
                <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                Extras Pages
            </a>
            <ul class="submenu">
                <li><a href="animate.html">Animate</a></li>
                <li><a href="invoice.html">Invoice</a></li>
                <li><a href="login.html">login</a></li>
                <li><a href="register.html">Register</a></li>
                <li><a href="forgot-password.html">Forgot Password</a></li>
                <li><a href="lockscreen.html">Lockscreen</a></li>
                <li><a href="404.html">404 Error</a></li>
                <li><a href="500.html">500 Error</a></li>
                <li><a href="blank.html">Blank Page</a></li>
                <li><a href="faq.html">FAQ</a></li>
            </ul>
        </li>
        <li class="static">SETTING</li>
        <li class="text-content">
            <div class="switch">
                <div class="onoffswitch blank">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="dailyreport">
                    <label class="onoffswitch-label" for="dailyreport">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            Daily task report
        </li>
        <li class="text-content">
            <div class="switch">
                <div class="onoffswitch blank">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="remembercomputer" checked>
                    <label class="onoffswitch-label" for="remembercomputer">
                        <span class="onoffswitch-inner"></span>
                        <span class="onoffswitch-switch"></span>
                    </label>
                </div>
            </div>
            Remember this computer
        </li>

    </ul>
</div>
<!-- end:Sidebar Left -->
</template>
