<template name="PanelRightSidebar">
<!-- start:Sidebar Right Heading -->
<div class="sidebar-right-heading">
    <ul class="nav nav-tabs square nav-justified">
        <li class="active"><a href="#online-user-sidebar" data-toggle="tab"><i class="fab fa-comments"></i></a></li>
    </ul>
</div>
<!-- end:Sidebar Right Heading -->
<!-- start:Sidebar Right -->
<div class="sidebar-right sidebar-nicescroller">
    <div class="tab-content">
        <div class="tab-pane fade in active" id="online-user-sidebar">

            <ul class="sidebar-menu online-user">

                <li class="static">ONLINE USERS</li>

                {{#each onlineUsers}}
                <li>
                    <a href="#">
                        <span class="user-status success"></span>
                        <img src={{services.steam.avatar.full}} class="ava-sidebar img-circle" alt="Avatar">
                        {{profile.name}}
                        <span class="small-caps"></span>
                    </a>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
<!-- end:Sidebar Right -->
</template>
