<template name="PanelLeftSidebar">
<!-- start:Sidebar Left -->
<div class="sidebar-left sidebar-nicescroller">
    <ul class="sidebar-menu">
        <li class="static">MENU</li>
        <li><a href="/"><i class="fa fa-dashboard icon-sidebar"></i>Overview</a></li>
        <li class="{{#unless canViewSubmissions}}display-none{{/unless}}">
            <a>
                <i class="fa fa-youtube-play icon-sidebar"></i>
                <i class="fa fa-angle-right chevron-icon-sidebar"></i>
                Submissions
            </a>
            <ul class="submenu">
                <li class="{{isActiveShowList}}"><a href="/submissions">Full List</a></li>
                {{#each shows}}
                <li class="{{isActiveShowDetail}}"><a href="/submissions/{{_id}}">{{name}}</a></li>
                {{/each}}
            </ul>
        </li>
    </ul>
</div>
<!-- end:Sidebar Left -->
</template>
